
body{
  margin: 0;
  padding: 0;
}
/* comman css */
a{
    font-family: 'Dancing Script', cursive;
    font-family: 'Dosis', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-weight: 300;
}
h1,h6,h4,h5,p{
    
    font-family: 'Dancing Script', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Roboto', sans-serif;


}
.img-responsive{
    vertical-align: middle;
    height: 58px;
    border-radius: 26px; 
}
.img-responsive:hover{
    background-color: black;
}
.logout{
    margin-right: 15px;
}
.navbar{
    background-color:#fff;
}
/* dasboard */
.mainDiv{
    background-image: url(../images/dashboard.jpg);

}
.mainDiv,.orderSectionDiv{
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover; 
}
.navbar-toggler{
    background-color: tomato;
}
.heading,#paraDashboard,#shopHeading{
    margin-top: 36vh;
    text-align: center;
    color: rgb(250, 229, 0);
   
}
#paraDashboard{
    margin-top: 0;
}
/* Shoping page css */
#shopHeading{
    margin-top: 0;
    color: black;
}
#card1{
    height:42vh;
}
.orderDiv{
    display: flex;
    align-items: center;
}
.orderbutton{
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;


}
/* header Css */
.userEmail{
    margin-right: 5vh;
}
/* order form  css */
.orderForm{
    margin: 100px 35px 0px 44px;
}
.container1{
height: 71vh;
display: flex;
justify-content: center;
margin-top: 5vh;
}

#counterValue,#incrementBtn,#dicrementBtn{
    border: 1px solid black;
    height: 26px;
    width: 27px;
    text-align: center;

}
.orderSectionDiv{
    background-image: url(../images/manu.jpg);
   
}

#card3{
height: 42vh;
width: 34vw;
}


#heading{
    text-align: center;
    margin-top: 10px;
}
/* Menu page css */
.menuDiv{
    background-attachment: scroll;
    margin-bottom: 5vh;
}
.card-img2{
    width: 36vh;
}
.card{
   
    flex-direction: row; 
}


/* footer css */
.footerDiv{
    display: flex;
    width: 100vw;;
    height: 20vh;
    margin-top: 4px;
    background-color:white;
    justify-content: center;
    align-items: center;
}
.div1,.div2,.div3{
    width: 50vh;
    height: 21vh;
    list-style: none;
    text-align: center;
    color: black;

}

 li a{
    font-weight: 400;
    color: black;
    cursor: pointer;
    text-decoration: none;
   

 }
 .imgFooter{
    height: 20px;

 }
 .icon1.icon2.icon3{
    border: 2px solid black;
    border-radius: 10px;
 }

